@import "../../styles/variables";

.counters {
  padding: 0 $spaceDouble 0 $spaceBase;
  background-color: $grayWhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondColor;

  .counter {
    color: $mainColor;
    font-weight: bold;
    margin-left: $spaceBase;
  }

  .checkbox .MuiSvgIcon-root {
    fill: $secondColor;
  }
  .checkbox.checked .MuiSvgIcon-root {
    fill: $mainColor;
  }
}


