@import "../../styles/variables";
@import "../../styles/mixins";

.cart-container {

  .cart {
    display: none;
    margin: $spaceBase $spaceDouble $spaceDouble 0 ;
    flex-direction: column;
    width: $sidebarRightWidth;
    background-color: $cartBgColor;
    padding: $spaceDouble;
    border-radius: $borderRadius;
    box-shadow: $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
    $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor;

    &.open {
      display: flex;
      position: absolute;
      margin: 75px 0 0 -185px;
      z-index: 20;
    }

    @include lg {
      display: flex;
      &.open {
        display: flex;
        position: relative;
        margin: $spaceBase $spaceDouble $spaceDouble 0 ;
      }
    }
  }

  .cart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 90%;
    box-sizing: border-box;
  }

  .cart-title-icon {
    font-size: 110%;
    margin-right: $spaceBase;

    &.mobile {
      font-size: 150%;
      margin-right: 0;
    }
  }

  .cart-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: $spaceBase 0 0;
    justify-content: center;
    text-align: center;
  }

  .cart-items-box {
    padding: 0;
  }

  .cart-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $borderColor;
    margin-bottom: $spaceBase;

    &:first-child {
      margin-top: $spaceBase;
    }
  }

  .cart-item-descr {
    display: flex;
    flex-direction: column;
    margin-left: $spaceBase;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: $spaceBase;
  }

  .cart-item-title {
    font-weight: bold;
    font-size: 70%;
    margin-bottom: $spaceBase/4;
  }

  .cart-item-price-box,
  .cart-item-delivery-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 70%;
    color: $secondTextColor;
  }

  .cart-item-price,
  .cart-item-delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .delivery-icon,
  .price-icon {
    font-size: 130%;
    margin-right: $spaceBase/2;
  }

  .remove-icon {
    margin-right: 0;

    svg {
      font-size: 80%;
      fill: $mainColor;
    }
  }

  .total-box {
    display: flex;
    justify-content: space-between;
    padding: $spaceBase $spaceBase/2;
    background-color: $cartTotalBgColor;
    font-size: 90%;
  }

  .total-sum {
    font-weight: bold;
  }

  .cart-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: $spaceBase;
  }

  .buy-button {
    min-width: 100%;
    margin-bottom: $spaceBase;
  }

  .buy-button-icon,
  .edit-button-icon {
    font-size: 120%;
    margin-right: $spaceBase/2;
  }

  .edit-button {
    min-width: 100%;
  }

  .cart-mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 75px 0 0 -50px;
    background-color: $cartBgColor;
    padding: $spaceBase 0;
    border: 1px solid $borderColor;
    border-radius: $borderRadius 0 0 $borderRadius;
    box-shadow: $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor;
    cursor: pointer;

    &.open {
      display: none;
    }

    @include lg {
      display: none;
    }
  }

  .cart-mobile-title {
    font-size: 70%;
  }

  .cart-mobile-amount {
    font-size: 100%;
    color: $mainColor;
    margin-top: $spaceBase;
  }

  .cart-mobile-items {
    font-size: 80%;
    color: $mainColor;
  }

  .cart-mobile-price{
    font-size: 90%;
    font-weight: bold;
    margin-top: $spaceBase;
  }

  .backdrop {
    z-index: 10;
  }

}
