@import "../../styles/variables";

.containerType {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.radioClass {
  margin-left: 12px;

  &.checked {
    color: $mainColor;
  }
}
