@import "../../styles/variables";

.results-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-end;

  .circularProgress {
    color: $mainColor;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
  }

  .body-box {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100%;
    margin-top: $headerHeight+$spaceBase;
  }

  .content-box {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    margin: 6px $spaceDouble;
    box-sizing: border-box;
  }

  .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $sidebarTitleHeight;
    align-items: center;
  }

  .appbar {
    background-color: transparent !important;
    color: black;
    box-shadow: none;
    z-index: 0 !important;
    flex-direction: unset;
    width: auto;

    .tabs {
      background-color: transparent !important;
    }

    .MuiTab-root {
      min-height: $contentTabsMinHeight;
      border-radius: $borderRadius $borderRadius 0 0;
    }

    .MuiTabs-flexContainer {
      button {
        width: auto;
        min-width: 60px;
      }
    }

    .Mui-selected {
      background-color: $contentBackground;
    }

    .MuiTabs-indicator {
      display: none;
    }
  }

  .content-body {
    display: flex;
    flex: 1;
    background-color: $contentBackground;
    border-radius: $borderRadius;
    padding: $spaceDouble;
    box-shadow: $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
    $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor;
    margin-bottom: $spaceDouble;
  }

}
