@import "../../styles/variables.scss";

.reviews {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;

  .reviews-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: $spaceBase $spaceDouble;
    min-height: 40px;
    //position: fixed;

    .reviews-title {
      flex: 1 1 auto;
      text-align: center;
      font-weight: bold;
      font-size: 120%;
    }
  }

  .back-button {
    position: absolute;
  }

  .review-container {
    display: block;
    overflow: auto;
    height: 100vh;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  }

  .rating-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: $spaceDouble 0;
  }

  .rating-value-box  {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rating-value {
    font-weight: bold;
    font-size: 300%;
  }

  .rating-value-skeleton {
    display: block;
    width: 80px;
    height: 70px;
  }

  .rating-rate {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .rating-rate-skeleton {
    display: flex;
    width: 80px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .rating {
    font-size: 0.9rem;
  }

  .rating-counter {
    font-weight: bold;
  }

  .rating-descr {
    font-size: 0.9rem;
  }

  .MuiRating-iconFilled  {
    color: $mainColor;
  }

  .rating-sliders-box {
    width: 50%;
    border: none;
    //display: flex;
    //flex-direction: column;
    //align-items: flex-start;
  }

  .rating-slider {
    //display: inline-block;
    //flex-direction: row;
    //justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .rating-slider-num {
    //margin-right: $spaceBase;
    text-align: right;
  }

  .rating-slider-body  {
    //display: flex;
    width: 90%;
    align-items: center;
    padding: 0 8px 0;
    //flex: 1 1 auto;
    margin: -4px $spaceBase 4px;

    span {
      //padding: 4px 0;
    }
  }

  .rating-slider-reviews  {
    font-size: 80%;
    color: $gray;
  }

  .add-review-box  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spaceDouble;
  }

  .add-review-title {
    font-weight: bold;
    margin-bottom: $spaceBase;
  }

  .add-review-rating {
    font-size: 130%;
    margin: $spaceBase;
  }

  .add-review-text {
    width: 100%;
    margin-bottom: $spaceDouble;
    color: red;

    &.exhausted {

      .MuiOutlinedInput-notchedOutline,
      .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
        border-color: red;
      }
      .MuiFormLabel-root{
        color: $errorTextColor;
      }

    }
  }

  .reviews-list-box {
    display: flex;
    margin: 0 $spaceDouble;
  }

  .reviews-list {
    width: 100%;
  }

  .review-body {
    display: block;
    width: 100%;
    flex-direction: column;
  }

  .review-rating-title {
    font-weight: bold;
    //font-size: 120%;
  }

  .review-rating-box {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
  }

  .review-rating {
    margin-right: $spaceBase;
    font-size: 80%;
  }

  .review-rating-date {
    font-size: 80%;
    color: $gray;
  }

  .review-read-more-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: $borderColor;
  }
  .MuiInputLabel-root.Mui-focused {
    color: $fieldLabelColor
  }

  .MuiListItem-root {
    padding: $spaceBase 0;
  }

  .reviews-not-found  {
    text-align: center;
  }

  .text-counter {
    margin-top: -$spaceBase*2;
    font-size: 70%;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: $gray;

    &.exhausted {
      color: $errorTextColor;
    }
  }

}
