/* COLORS */
//$mainColor: #AA00FF;
$mainColor: #e91e63; //pink
//$secondColor: #607d8b; //blueGray
$secondColor: #464b52; //blueGray
$white: #FFFFFF;
$black: #333333;
//$blue: #214BEE;
$blue: #2196f3;
$darkNavy: #04264C;
$cyan: #00bcd4;
$lightPurpleOne: #A9A7EB;
$lightPurpleTwo: #7D74AF;
$grayDark: #54575E;
$gray: #9e9e9e;
$grayLight: #e0e0e0;
$cloudGray: #8D99AE;
$blueGray: #607d8b;
$turqouise: #2D728F;
$teal: #009688;
$lightBlue: #03a9f4; //#38B0DE
$pastelBlue: #006494;
$red: #F44336;
$green: #4caf50;
$grayWhite: #f1f1f1;
$grayWhiter: #f6f6f6;
$pink: #e91e63;
$yellow: #FFF2CC;

/* BODY */
$backgroundColor: #E0E5EC;
$contentBackground: $white;

/* SHADOWS */
$shadow-base: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-light: 0px 0px 11px rgba(45, 45, 45, 0.11);
$shadow-light-inset: inset 0px 0px 11px rgba(45, 45, 45, 0.11);
$gradient-purple: linear-gradient(90deg, rgba(78,113,251,1) 0%, rgba(158,155,255,1) 100%);

/* BORDERS */
$borderColor: #CCCCCC;
$borderRadius: 4px;

/* WIDTH & HEIGHT */
$headerHeight: 70px;
$drawerWidth: 400px;
$drawerHeight: 50;
$contentTabsMinHeight: 50px;
$footerHeight: 70px;

/* SPACES */
$spaceBase: 8px;
$spaceDouble: 16px;

/*  ICONS  */
$minShopIconWidth: 50px;
$minShopIconHeight: 50px;

/*BUTTONS*/
$buttonTextColor: $white;
$buttonMainTextColor: $mainColor;
$buttonIconColor: $black;
$buttonIconMargin: 8px;
$buttonDefaultBackgroundColor: $backgroundColor;
$buttonDefaultHoverBackground: #d5dae1;
$buttonShadowLeftTopColor: rgba(255,255,255, 0.6);
$buttonShadowRightBottomColor: rgba(163,177,198,0.6);
$buttonShadowLeft: 2px;
$buttonShadowTop: 2px;
$buttonShadowRight: -2px;
$buttonShadowBottom: -2px;
$buttonShadowBlur: 4px;

/*SIDEBAR*/
$sidebarWidth: 200px;
$sideBarLeftMargin: -200px;
$sidebarMinWidth: 150px;
$transitionSpeed: 400ms;
$sidebarTitleHeight: 50px;
$sidebarRightWidth: 150px;

/*TEXT*/
$secondTextColor: #8e949b;

/* LINKS */
$linkColor: $blueGray;

/*FORMS*/
$fieldLabelColor: $blueGray;

/*ERRORS*/
$errorTextColor: $red;

/*CART*/
$cartBgColor: $white;
$cartTotalBgColor: $grayWhite;

:export {
  /* COLORS */
  mainColor: $mainColor;
  secondColor: $secondColor;
  blueGray: $blueGray;
  gray: $gray;
  grayDark: $grayDark;
  black: $black;
  white: $white;
  red: $red;
  blue: $blue;
  grayLight: $grayLight;
  grayWhite: $grayWhite;
  /* BODY */
  backgroundColor: $backgroundColor;
  contentBackground: $contentBackground;
  /* SHADOWS */
  shadowBase: $shadow-base;
  shadowLight: $shadow-light;
  gradientPurple: $gradient-purple;
  /* BORDERS */
  borderColor: $borderColor;
  borderRadius: $borderRadius;
  /* WIDTH & HEIGHT */
  headerHeight: $headerHeight;
  drawerWidth: $drawerWidth;
  drawerHeight: $drawerHeight;
  /* SPACES */
  spaceBase: $spaceBase;
  spaceDouble: $spaceDouble;
  /*  ICONS  */
  minShopIconWidth: $minShopIconWidth;
  minShopIconHeight: $minShopIconHeight;
  /*BUTTONS*/
  buttonTextColor: $buttonTextColor;
  buttonMainTextColor: $buttonMainTextColor;
  buttonIconColor: $buttonIconColor;
  buttonIconMargin: $buttonIconMargin;
  buttonDefaultBackgroundColor: $buttonDefaultBackgroundColor;
  buttonDefaultHoverBackground: $buttonDefaultHoverBackground;
  buttonShadowLeftTopColor: $buttonShadowLeftTopColor;
  buttonShadowRightBottomColor: $buttonShadowRightBottomColor;
  buttonShadowLeft: $buttonShadowLeft;
  buttonShadowTop: $buttonShadowTop;
  buttonShadowRight: $buttonShadowRight;
  buttonShadowBottom: $buttonShadowBottom;
  buttonShadowBlur: $buttonShadowBlur;
  /*FORMS*/
  fieldLabelColor: $fieldLabelColor;
  /*ERRORS*/
  errorTextColor: $errorTextColor;
}
