@import "../../styles/variables.scss";


body {
  //background-color: $white;
  background-color: $backgroundColor;
  height: 100vh;
  flex-grow: 1;
}

.home-page {
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-in-button {
  //border: 1px solid #c2cbd9 !important;
  border: none !important;

  /* For Neumorphism Effect */
  background-color: $buttonDefaultBackgroundColor;
  box-shadow: $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
    $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor;
  /* For Neumorphism Effect */
  &:hover {
    background-color: $buttonDefaultHoverBackground !important;
    box-shadow: none;
  }
  &:active, .active {
    box-shadow: inset $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
    inset $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor !important;
  }
}


.search-icon,
.sign-in-icon {
  margin-right: $buttonIconMargin;
}

.slogan {
  color: $blueGray;
  font-style: italic;
  margin-bottom: $spaceBase;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search-form {
  width: 100%; // Fix IE 11 issue.
  margin-top: $spaceBase,
}

.search-button-box {
  text-align: center;
}

.submit-search {
  margin: $spaceDouble $spaceBase !important;
  padding: 14px !important;
  width: 45%;
  align-self: center;
  background-color: $buttonDefaultHoverBackground !important;

  &.active {
    color: $white;
    background-color: $mainColor !important;
    box-shadow: $buttonShadowLeft*2 $buttonShadowTop*2 $buttonShadowBlur*2 $buttonShadowRightBottomColor,
    $buttonShadowRight*2 $buttonShadowBottom*2 $buttonShadowBlur*2 $buttonShadowLeftTopColor !important;
  }

  &:focus {
    box-shadow: inset $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
    inset $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor !important;
  }

  &:hover {
    background-color: darken($mainColor, .2);
    box-shadow: none !important;
  }
}

.login-box {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px;
}

