@import "../../styles/variables";
@import "../../styles/mixins";

.logo {
  font-weight: bold !important;
  font-size: 3rem !important;
  margin: 0 0 15px 0;

  .logoColor {
    color: $mainColor
  }

  .link {
    text-decoration: none;
    //color: $blueGray;
    color: $black;

    &:hover {
      text-decoration: none;
    }

    &.mobile {
      display: none;
      @include md {
        display: none;
      }
    }
  }

  &.small a {
    font-size: 70%;
    font-weight: normal;
    &.link {
      //margin-top: -15px;
      display: none;
      @include md {
        display: inline-block;
      }

      &.mobile {
        display: inline-block;
        @include md {
          display: none;
        }
      }
    }
  }
}
