@import "../../styles/variables";

.info-panel {

  background-color: yellow;

  .drawer {
    width: $drawerWidth;
    flex-shrink: 0;

    .drawerPaper {
      width: $drawerWidth;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }

    .searchBox {
      background-color: rgba(0, 0, 0, .03);
      padding: 0 15px 0 15px;
      margin-top: $headerHeight;
      z-index: 21;
      flex-grow: 1;
    }

    .noPadding {
      padding: 0 !important;
    }

    .listOfItems {
      width: 100%;
      max-width: $drawerWidth;
      top: 0;
      left: 0;
      height: 100vh;
      border: 1px solid #ccc;
      z-index: 20;
      overflow: auto;
      padding: 0;
      box-shadow: inset 0 5px 10px -10px;
      background-color: $grayWhite;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      }
    }

    .no-results {
      text-align: center;
      margin-top: $spaceDouble;
    }
  }
}

.second-drawer {
  min-width: $drawerWidth !important;
}
