@import "../../styles/variables.scss";

.marker {
  .pin {
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    position: absolute;
    cursor: pointer;
    top: -13px;
    //left: -16px;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%) translateY(0);
  }

  .pin:hover,
  .is-hover {
    transform: translateX(-50%) translateY(-5px) scale(1.3);
    //transition: top 300ms, transform 300ms;
  }

  .beacon {
    position: absolute;
    top: 0;
    left: 0;
    height: 3em;
    width: 3em;
    border-radius: 100%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
  }

  .beacon:before,
  .beacon:after {
    position: absolute;
    content: "";
    height: 3em;
    width: 3em;
    left: 0;
    top: 0;
    background-color: transparent;
    border-radius: 100%;
    -webkit-animation: active 2s infinite linear;
    -moz-animation: active 2s infinite linear;
    animation: active 2s infinite linear;
  }

  .beacon:after {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  @-webkit-keyframes active {
    0% {
      box-shadow: 0 0 0 1px $blueGray;
      -webkit-transform: scale(.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(2.5);
      opacity: 0;
    }
  }

  @keyframes active {
    0% {
      box-shadow: 0 0 0 2px $mainColor;
      transform: scale(.1);
      opacity: 1;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }

  .MuiTooltip-tooltip {
    display: flex;
    min-width: 200px;
    white-space: nowrap;
    max-width: none !important;
    padding: 0 !important;
  }

  .avatar {
    max-width: 75px;
    max-height: 75px;
    float: left;
  }

  .tooltipComment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 10px;
  }

  .tooltipHeader {
    font-size: 1rem;
    margin-bottom: 5px;
  }

}
