@import "../../styles/variables";

.googleMapStyle {
  height: 100vh;
  width: 100%;

  .circularProgress {
    color: $mainColor;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
  }

}
