@import "../../styles/variables.scss";
@import "../../styles/mixins";

.sidebar-left {
  display: flex;
  height: 100%;
  margin: 0 !important;
  overflow: hidden;
  min-width: 0 !important;

  @include lg {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    //border-right: 1px solid $borderColor;
    min-width: $sidebarWidth !important;
    height: 100%;
    margin: 0 0 0 $sideBarLeftMargin !important;
    overflow: hidden;
    transition: margin $transitionSpeed;

    &.open {
      overflow: auto;
      margin: 0 !important;
      transition: margin $transitionSpeed;
    }
  }

  .filters {
    display: none;
    flex-direction: column;
    justify-content: stretch;
    //border-right: 1px solid $borderColor;
    min-width: $sidebarWidth !important;
    background-color: $cartBgColor;
    height: auto;
    margin: 0 !important;
    overflow: hidden;
    transition: margin $transitionSpeed;

    &.open {
      //position: fixed;
      display: flex;
      z-index: 20 !important;
      overflow: auto;
      margin: 0 !important;
      transition: margin $transitionSpeed;
    }

    @include lg {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: stretch;
      //border-right: 1px solid $borderColor;
      min-width: $sidebarWidth !important;
      height: 100%;
      margin: 0 0 0 $sideBarLeftMargin !important;
      overflow: hidden;
      transition: margin $transitionSpeed;

      &.open {
        overflow: auto;
        margin: 0 !important;
        transition: margin $transitionSpeed;
      }
    }
  }

  &.mobile-open {

  }

  .nested-list {
    background-color: $buttonDefaultHoverBackground;
    padding: $spaceBase*2 0 $spaceBase;
    box-shadow: inset $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
    inset $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor !important;
  }

  .nested-item {
    padding-left: $spaceBase*2;
  }

  .MuiListItemIcon-root {
    min-width: $spaceBase*5;
  }


  .filters-mobile {
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 75px -50px 0 0;
    background-color: $cartBgColor;
    padding: $spaceBase 0;
    border: 1px solid $borderColor;
    border-radius: 0 $borderRadius $borderRadius 0;
    box-shadow: $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor;
    cursor: pointer;

    &.mobile-open {
      display: none;
    }

    @include lg {
      display: none;
    }
  }

  .filters-mobile-title {
    font-size: 70%;
  }

  .filters-mobile-amount {
    font-size: 100%;
    color: $mainColor;
    margin-top: $spaceBase;
  }

  .filters-mobile-active {
    font-size: 80%;
    color: $mainColor;
  }

  .backdrop {
    z-index: 10;
    @include lg {
      display: none;
    }
  }
}
