@import "../../styles/variables.scss";

.inputSearch {

  .MuiOutlinedInput-root {
    overflow: hidden;

    &:hover fieldset {
      //border-color: $mainColor;
      border-color: rgba(0, 0, 0, 0.54);
    }

    &.Mui-focused fieldset {
      //border-color: $mainColor
      //border: 1px solid $gray;
      border: none !important;
    }
  }

  .MuiFormLabel-root{
    margin-top: -4px;
    &.Mui-focused {
      //color: $mainColor
      //margin-top: -3px;
      color: rgba(0, 0, 0, 0.54);
    }
  }


  .inputSearchContainer {
    flex-grow: 1;
    display: flex;
  }

  .mainSearchContainer {
    width: 100%;
    display: block;
    text-align: center;
  }

  .searchContainer {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center
  }

  .suggestionsContainerOpen {
    position: absolute;
    z-index: 1;
    margin-top: $spaceBase*7;
    left: 0;
    right: 0;
  }

  .containerType {
    display: inline-block;
    width: 205px;
    min-width: auto;
  }

  .suggestion {
    display: block;
  }

  .suggestionsList {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .divider {
    height: $spaceBase;
  }

  .input {
    width: 100%;
    font-weight: bold;
  }

  .search {
    width: 100%;
    margin-top: -5px;
  }

  .MuiOutlinedInput-root {
    background-color: $white;
    border-radius: $borderRadius;

    &.Mui-focused {
      box-shadow: inset $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
      inset $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor !important;
    }

  }

  .active-field .MuiOutlinedInput-root {
    box-shadow: inset $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
      inset $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor !important;
  }


  .descr {
    display: flex;
    margin-left: $spaceBase*2;
    color: $gray;
    font-size: smaller;
  }

  .component-error-text {
    position: absolute;
    display: flex;
    color: $red;
    margin: -10px $spaceBase*2 0 $spaceBase*2;
    font-size: smaller;
  }

  .startInputAdornment {
    padding: 0 0 !important;
    margin-right: 0 !important;
  }

  .startIconButton {
    padding: 0 !important;
  }

  .searchIcon {
    width: 36px;
    height: 36px;
    padding: 0;
    margin-right: 10px;
  }

  .spinner {
    color: $mainColor;
  }

  .MuiOutlinedInput-input {
    padding: 14.5px;
  }

}
