@import "../../styles/variables";

.drawer-button {
  height: $drawerHeight !important;
  z-index: 70 !important;
  position: absolute !important;
  margin-top: $spaceDouble !important;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 0 !important;
  border-radius: 0 $borderRadius $borderRadius 0 !important;

  &.opened {
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    margin-left: 400px !important;
  }
}
