@import "../../styles/variables.scss";

.MuiSlider-root {
  color: $mainColor !important;
  margin-top: $spaceDouble*2;
  //width: 90% !important;
  //background-color: transparent !important;
}

.range-select {
  background-color: $white;
  width: 100%;
  padding: $spaceDouble $spaceBase*3 0;
  margin: 0 $spaceDouble;
  box-sizing: border-box;
  border-radius: $borderRadius;
}
