@import "../../styles/variables";
@import "../../styles/mixins";

.app-bar {
  z-index: 1 !important;
  background-color: $backgroundColor !important;
  height: $headerHeight;

  .toolbar {
    height: $headerHeight;
    padding-left: 0;
    @include sm {
      height: auto;
    }

    .container {
      display: flex;
      align-items: center;
    }
  }

  .logo-box {
    min-width: auto;
    text-align: center;
    margin-left: $spaceDouble;
    @include lg {
      min-width: $sidebarWidth - $spaceDouble;
    }
  }
}
