@import "../../styles/variables";

.item-panel {

  &:hover {
    background-color: $grayWhiter;
  }

  .panel-summary {
    padding: 0 $spaceDouble;
  }

  .item-body {
    display: flex;
    margin-right: 0;
    width: 100%;

    .MuiFormControlLabel-label {
      width: 100%;
    }
  }

  .list-item {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start !important;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 $spaceDouble;
    width: 100%;

    .avatar-block  {
      min-width: $minShopIconWidth !important;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .avatar {
      border-radius: 0;
      min-width: $minShopIconWidth;
      min-height: $minShopIconHeight;
      background-size: cover;
      margin-top: $spaceBase/2;
    }

    .items-block {
      background-color: $grayWhite;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: $spaceBase;
      width: 100%;

      .items-count {
        font-weight: bold;
        color: $mainColor;
      }

      .items-found {
        font-size: 80%;
        color: $grayDark;
        //margin-top: -5px;
      }
    }

    .item-title {
      font-weight: bold;
      font-size: 110%;
      width: 100%;
    }

    .item-descr {
      color: $black;
      font-size: 80%
    }

    .list-item-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 0 $spaceDouble;
      width: 100%;

      .prices-discounts-box,
      .show-more-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: $spaceBase;
        width: 100%;

        .prices-block,
        .discounts-block {
          background-color: $grayWhite;
          padding: $spaceBase/2 $spaceBase;
          max-width: max-content;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $grayDark;
          font-size: 80%;

          .prices-icon,
          .discounts-icon {
            font-size: 100%;
          }

          .prices,
          .discounts {
            margin-left: $spaceBase;
            font-weight: bold;
          }

          .prices {
            color: $mainColor;
          }
        }
        .discounts-block {
          background-color: $yellow;
          margin-left: $spaceDouble;
        }
      }
    }

    .rating-block {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: $spaceBase/2;

      .rating {
        font-size: 0.8rem;
      }

      .rating-counter {
        font-size: 70%;
        margin: -2px 0 0 $spaceBase;
        color: $gray;
      }
    }

    .rating-number {
      font-size: 80%;
      margin: -$spaceBase/2 $spaceBase 0 0;
      color: $gray;
      font-weight: bold;
    }

    .schedule-open-block {
      display: flex;

      .open-hours {
        color: $gray;
        font-size: 80%;
      }
    }
  }

  .expansion-panel-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $spaceDouble;
  }

  .MuiTabs-scrollable {
    padding-left: 40px;
    &:first-child {
      padding-left: 0;
    }
  }

  .exp-panel-box {
    display: flex;
    flex-direction: row;
    margin-bottom: $spaceBase;
  }

  .exp-icon {
    margin-right: $spaceBase;
    font-size: 90%;
    margin-top: $spaceBase/3;
  }

  .exp-text {
    font-size: 90%;
    cursor: pointer;
  }

  .schedule-collapse {
    div:last-child {
      margin-bottom: $spaceBase/2;
    }
  }

  .schedule-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;

    .schedule-day--name {
      font-size: 80%;
      margin-left: $spaceBase*3;
    }

    .schedule-day--time {
      font-size: 80%;
    }
  }

  .results {
    font-size: 100%;
    font-weight: bold;
    margin: $spaceBase 0;
  }

  .results-box {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    width: 100%;
    max-height: 300px;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    padding: 0 $spaceBase;
    border-radius: $borderRadius;
    box-shadow: $shadow-light-inset;
    background-color: $grayWhite;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  }

  .result-tab {
    padding: 0;
  }

  .result-card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: max-content;
    margin: $spaceBase 0;
  }

  .result-card-content {
    padding: 16px 0;
  }

  .result-title {
    font-size: 100%;
    font-weight: bolder;
    color: $mainColor;
    margin-bottom: $spaceBase;
  }

  .result-param-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .result-param {
      font-size: 80%;
    }

    span {
      font-weight: bold;
    }
  }

  .result-actions {
    display: flex;
    justify-content: space-between;
  }

  .scroll-items {
    position: static;
    display: flex;
    border: 1px solid red;
  }

  .heart-icon  {
    color: $mainColor;
    margin-right: $spaceBase/2;
  }

  .cart-icon {
    margin-right: $spaceBase/2;
  }

  .MuiRating-iconFilled  {
    color: $mainColor;
  }


}


