@import "../../styles/variables";

.filter-select {
  //min-width: 150px;
  //width: 100%;
  //text-align: left;

  .MuiAutocomplete-inputRoot {
    flex-wrap: nowrap;
  }

  .MuiFormLabel-root.Mui-focused {
    color: $mainColor;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: $mainColor;
  }

  .MuiOutlinedInput-input {
    font-weight: bold;
  }

  .MuiInputLabel-outlined {
    //transform: translate(0px, 0px) scale(1);
    //padding-top: 0;
    //margin-left: 20px;
    margin-top: -4px;
  }
  //
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    //padding-top: 0;
    //margin-left: 0;
    //transform: translate(14px, -6px) scale(0.75);
  }

  .MuiSelect-select:focus {
    background-color: transparent;
  }

  //select {
  //  height: 2.5em;
  //}

  input {
    //padding: 0;
    height: 10px;
  }

}


