@import "../../styles/variables";
@import "../../styles/mixins";

* {
  .icon-button {
    color: $buttonIconColor;
    background-color: $buttonDefaultBackgroundColor;
    box-shadow: $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
    $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor;

    &:hover {
      box-shadow: none !important;
    }

    &:active {
      box-shadow: inset $buttonShadowLeft $buttonShadowTop $buttonShadowBlur $buttonShadowRightBottomColor,
      inset $buttonShadowRight $buttonShadowBottom $buttonShadowBlur $buttonShadowLeftTopColor !important;
    }
  }
}
