@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  max-height: $footerHeight;
  bottom: 0;
  box-shadow: 0 0 0 $buttonShadowRightBottomColor,
    $buttonShadowRight*2 $buttonShadowBottom*2 $buttonShadowBlur*2 $buttonShadowLeftTopColor !important;

  .links-box {
    display: none;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    * {
      cursor: pointer;
      width: 100%;
      text-align: center;
      padding: $spaceBase;
    }

    a {
      color: $gray;
    }

    @include xs {
      height: auto;
      flex-direction: column;
      justify-content: center;
    }
  }

  .copyright-box {
    display: flex;
    flex-grow: 1;
    padding: $spaceBase;
    text-align: center;
    * {
      color: $gray;
      font-size: 80%;
    }
  }
}
