@import "../../styles/variables.scss";

.filter-panel {

  .expansion-panel {
    box-shadow: none;

    &:not(:last-child) {
      border-bottom: 0;
    }
    &:before {
      display: none;
    }
    &.Mui-expanded {
      margin: auto
    }
  }

  .MuiFormControlLabel-label {
    color: $black;
  }

  .expansion-panel-summary {
    background-color: rgba(0, 0, 0, .03);
    min-height: 0;
    padding: 0 $spaceDouble;
    margin: 0;
    color: $secondColor;

    &.Mui-expanded {
      min-height: 0;
      margin: 0;
      padding: 0 $spaceDouble;
    }

    .active-filters {
      font-weight: bold;
      color: $mainColor;
      margin-left: $spaceBase/2;
    }

    div.MuiIconButton-edgeEnd {
      padding: 5px $spaceBase !important;
    }

    .MuiExpansionPanelSummary-content {
      margin: 0;
      justify-content: space-between;
      align-items: center;

      &.Mui-expanded {
        margin: 0;
      }
    }
  }

  .expansion-panel-details {
    padding: $spaceDouble;
    background-color: $grayWhite;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 30vh;
    box-shadow: inset 0 5px 10px -10px;

    &>* {
      margin-bottom: $spaceDouble;
      background-color: $white;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .radio-group {
      width: 100%;
      padding: $spaceBase 0;
      justify-content: space-around;
      border-radius: $borderRadius;
      color: $mainColor;
    }
  }

  .expand-icon {
    color: $secondColor;
  }

  .clear-filters {
    display: flex;
    justify-content: flex-start !important;
  }

}
