@import "../../styles/variables.scss";
@import "../../styles/mixins";

.sidebar-right {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  //border-right: 1px solid $borderColor;
  min-width: 0 !important;
  height: 100%;
  margin: 0;
  overflow: hidden;
  transition: margin $transitionSpeed;

  &.open {
    overflow: auto;
    margin: 0 !important;
    transition: margin $transitionSpeed;
  }

  @include lg {
    display: flex;
    min-width: $sidebarRightWidth !important;
  }

}
